.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-align-center {
  text-align: center;
}

.align-center {
  display: flex;
  justify-content: center;
}

.w-auto {
  width: auto;
}

.w-fill-available {
  width: -webkit-fill-available;

}

.vertical-align {
  display: flex;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.p-1 {
  padding: 0.25rem;
}

.d-flex {
  display: flex;
}

text-small {
  font-size: 0.8rem;
}

.ionic-selectable-inner {
  width: auto;
}

.ionic-selectable-value-item{
  display: flex;
  justify-content: space-between;
  width: auto !important;
}

.red-border {
  border: 1px solid red;
}

.black-border {
  border: 1px solid black;
}

.item-outline {
  border: 1px solid black;  /* Replace with your desired color */
  border-radius: 3px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
