.left-title {
  position: absolute;
  left: 0;
  padding-left: 16px; /* Adjust as needed */
}

.slide-in-animation {
  animation-name: slideIn;
  animation-duration: 0.3s;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
