<ionic-selectable
  #selectComponent
  item-content
  [(ngModel)]="material"
  itemTextField="Name"
  itemValueField="Name"
  fill="outline"
  class="item-content"
  placeholder="Select Material"
  [(items)]="allMaterials"
  [canSearch]="true"
  (onSelect)="onMaterialSelect($event)"
  [shouldFocusSearchbar]="true"
  (onSearch)="searchIngredients($event)"
  (onChange)="setIngredientValue($event)"
  [hasInfiniteScroll]="true"
  (onInfiniteScroll)="getMoreIngredients($event)"
  (ionClear)="resetMaterials($event)"
>
  <ng-template ionicSelectableItemTemplate let-ingredient="item">
    <div class="vertical-stack ion-margin">
      <label>{{ingredient.Name}}</label>
      <p><small>{{getOxideInfo(ingredient)}}</small></p>
    </div>
  </ng-template>
</ionic-selectable>
