<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [required]="true" class="medium-font centered-text ion-margin" label="First Name" labelPlacement="stacked" type="text" [value]="firstName" (input)="setFirstName($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [required]="true" class="medium-font centered-text ion-margin" label="Last Name" labelPlacement="stacked" type="text" [value]="lastName" (input)="setLastName($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [required]="true" class="medium-font centered-text ion-margin" label="Nickname" labelPlacement="stacked" type="text" [value]="nickname" (input)="setNickname($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [required]="true" class="medium-font centered-text ion-margin" label="Email" labelPlacement="stacked" type="email" [value]="email" (input)="setEmail($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [required]="true" class="medium-font centered-text ion-margin" label="Password" labelPlacement="stacked" type="password" [value]="password" (input)="setPassword($event)"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin w-50" (click)="registerNewUser()">Register</ion-button>
</ion-content>
