swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-img::part(image) {
  border-radius: 10px;
}

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.w-50 {
  width: 50%;
}

border-black {
  border: 1px solid black;
}

.m-0 {
  margin: 0;
}

.w-auto {
  width: auto;
}

ml-5 {
  margin-left: 5px;
}

/* modal.component.scss */
ion-content.locked-scroll {
  --overflow-y: hidden;
}

.section {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 2rem;
}

.horizontal-div{
  display: flex;
  flex-direction: row;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.w-fill-available {
  width: fill-available;
}
