<ion-content [fullscreen]="true">
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button *ngIf="isUserRecipe()" (click)="addRevision()">
          Add Revision
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="deleteRecipe()"> Delete Recipe </ion-button>
        <ion-button (click)="goToRecipeEditor()">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-item lines="none" slot="start">
          <ion-chip
            [color]="getChipColor(loadedRecipe.revisions[revision].status)"
            >{{loadedRecipe.revisions[revision].status}}</ion-chip
          >
        </ion-item>
        <ion-item slot="end" lines="none">
          <ion-button
            color="danger"
            *ngIf="loadedRecipe.revisions[revision].status !== status.Tested && recipeIsUsers()"
            (click)="moveRevisionToTested()"
            >Mark as Tested</ion-button
          >
        </ion-item>
      </ion-item>
      <ion-avatar
        class="ion-margin w-50 horizontal-center"
        *ngIf="loadedRecipe.revisions[revision].imageUrls.length === 0"
      >
        <!-- <ion-icon size="large" [ios]="'image' + '-outline'" [md]="'image' + '-sharp'"></ion-icon> -->
        <ion-img
          src="../../../../assets/images/placeholder-image.png"
        ></ion-img>
      </ion-avatar>

      <swiper-container [pagination]="true">
        <swiper-slide
          *ngFor="let imageUrl of loadedRecipe.revisions[revision].imageUrls; let i = index"
        >
          <ion-img [src]="imageUrl" (click)="enlargeImage(i)"></ion-img>
        </swiper-slide>
      </swiper-container>
      <ion-card-title class="ion-margin horizontal-center"
        >{{loadedRecipe.name}}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-card>
        <ion-card-content class="m-0">
          <ion-item lines="none">
            <ion-label slot="start">
              Cone {{loadedRecipe.cone}}, {{loadedRecipe.firingType}}, {{loadedRecipe.public ? "Public" : "Private"}}
            </ion-label>
            <ion-label *ngIf="loadedRecipe.revisions.length === 1" slot="end"
              >{{revision + 1}} of {{loadedRecipe.revisions.length}}</ion-label
            >
            <ion-item
              lines="none"
              slot="end"
              *ngIf="loadedRecipe.revisions.length > 1"
            >
              <ion-select
                justify="end"
                [value]="revision  +  1"
                (ionChange)="setRevision($event)"
                interface="popover"
              >
                <ion-select-option
                  *ngFor="let revision of loadedRecipe.revisions; let i = index"
                  [value]="i + 1"
                  >{{i + 1}}</ion-select-option
                >
              </ion-select>
              <ion-label class="w-auto ml-5">
                of {{loadedRecipe.revisions.length}}</ion-label
              >
            </ion-item>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-toolbar>
            <ion-label slot="start">
              <h1>Ingredients</h1>
            </ion-label>
            <ion-toggle
              *ngIf="inventoryOptionShowing"
              slot="end"
              [value]="checkInventory"
              (ionChange)="setCheckInventory($event)"
              labelPlacement="stacked"
            >
          <ion-label>Check Inventory</ion-label></ion-toggle>
          </ion-toolbar>
        </ion-list-header>

        <ion-item
          *ngFor="let material of loadedRecipe.revisions[revision].materials"
        >
          <ion-label class="ion-text-wrap">
            <h2>{{material.Name}}</h2>
            <p>{{material.Percentage}}%</p>
          </ion-label>
          <ion-icon color="success" *ngIf="checkInventory && checkInventoryForMaterial(material.Name)" name="checkmark-circle-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Notes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea> {{loadedRecipe.revisions[revision].notes}} </ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-modal [isOpen]="modalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
            <ion-button
              *ngIf="currentSectionIndex !== 0"
              (click)="prevSection()"
              >Previous {{prevSectionName}}</ion-button
            >
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button
              *ngIf="currentSectionIndex !== 3"
              (click)="nextSection()"
              >Next: {{nextSectionName}}</ion-button
            >
            <ion-button
              *ngIf="currentSectionIndex === 3"
              [strong]="true"
              (click)="confirm()"
              >Confirm</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" scroll-y="false">
        <div id="section-0" class="section">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Let's make {{loadedRecipe.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-justify-content-center">
              <ion-card>
                <ion-card-content class="ion-justify-content-center">
                  <ion-label class="horizontal-center"
                    >Water Quantity</ion-label
                  >
                  <ion-radio-group [(ngModel)]="waterPreference">
                    <ion-radio class="ion-margin" value="Proportion"
                      >Proportional</ion-radio
                    >
                    <ion-radio class="ion-margin" value="Specific Gravity"
                      >Specific Gravity</ion-radio
                    >
                  </ion-radio-group>
                  <div
                    class="ion-justify-content-center"
                    *ngIf="waterPreference === 'Proportion'"
                  >
                    <ion-label>Water to Dry Material Ratio</ion-label>
                    <div class="horizontal-div">
                      <ion-input
                        (ionBlur)="scrollToSection()"
                        type="number"
                        [(ngModel)]="waterToDryMaterialRatio"
                      ></ion-input>
                      <ion-label>:10</ion-label>
                    </div>
                  </div>
                  <ion-item *ngIf="waterPreference === 'Specific Gravity'">
                    <ion-label>Specific Gravity</ion-label>
                    <ion-input
                      (ionBlur)="scrollToSection()"
                      type="number"
                      [(ngModel)]="specificGravity"
                    ></ion-input>
                  </ion-item>
                </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-card-content>
                  <ion-item>
                    <ion-label>Batch Size</ion-label>
                    <ion-select [value]="batchUnit" label="Unit" labelPlacement="stacked" (ionChange)="setBatchUnit($event)">
                      <ion-select-option *ngFor="let unit of batchUnits" [value]="unit">{{unit}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-radio-group
                    [value]="testBatchSize"
                    (ionChange)="setBatchSize($event)"
                  >
                    <ion-radio
                      class="ion-margin"
                      labelPlacement="start"
                      [value]="testBatchSize"
                    >
                      Test Batch ({{testBatchSize}}{{batchUnit}})
                    </ion-radio>
                    <ion-radio
                      class="ion-margin"
                      labelPlacement="start"
                      [value]="mediumBatchSize"
                    >
                      Medium Batch ({{mediumBatchSize}}{{batchUnit}})
                    </ion-radio>
                    <ion-radio
                      class="ion-margin"
                      labelPlacement="start"
                      [value]="largeBatchSize"
                    >
                      Large Batch ({{largeBatchSize}}{{batchUnit}})
                    </ion-radio>
                    <ion-radio
                      class="ion-margin"
                      labelPlacement="start"
                      value="custom"
                    >
                      Custom
                    </ion-radio>
                  </ion-radio-group>
                  <ion-item *ngIf="customBatch">
                    <ion-input [label]="'Custom Batch Size ' + '(' + batchUnit + ')'" labelPlacement="stacked" [value]="customBatchSize" (ionChange)="setCustomBatchSize($event)">
                    </ion-input>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </div>
        <div id="section-1" class="section w-fill-available vertical-center">
          <!-- <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"> </canvas> -->
          <div class="w-fill-available">
            <ion-card>
              <ion-card-header>
                <ion-toolbar>
                  <ion-card-subtitle>Weigh 'em Out</ion-card-subtitle>
                  <ion-card-title>Materials</ion-card-title>
                  <div slot="end" *ngIf="inventoryOptionShowing">
                    <ion-toggle [value]="consumeInventory" (ionChange)="setConsumeInventory($event)" labelPlacement="stacked">
                      <ion-label>Consume Inventory</ion-label>
                    </ion-toggle>
                  </div>
                </ion-toolbar>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item
                    *ngFor="let material of loadedRecipe.revisions[revision].materials"
                  >
                    <ion-checkbox (ionChange)="checkInventoryForQuantity(material.Name, material.Quantity, material.Unit)"
                      >{{material.Name}}: {{material.Quantity}}{{batchUnit}}</ion-checkbox
                    >
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
        <div id="section-2" class="section vertical-center">
          <div class="w-fill-available">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Water</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item *ngIf="waterPreference === 'Proportion'">
                    <ion-label
                      >Your ratio is {{waterToDryMaterialRatio}}:10, so the
                      amount of water you need is {{this.totalBatchSize *
                      (this.waterToDryMaterialRatio / 10)}}{{batchUnit}}</ion-label
                    >
                  </ion-item>
                  <ion-item *ngIf="waterPreference === 'Specific Gravity'">
                    <ion-label
                      >Start with a 1:1 ratio of water and your batch size is {{totalBatchSize}}, so in this case,
                      {{totalBatchSize}}g of water. Add more little by little until
                      you reach your desired specific gravity</ion-label
                    >
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
        <div id="section-3" class="section">Section 4</div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button (click)="setModalOpen()">Make this glaze</ion-button>
  </ion-fab>
</ion-content>
