<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Materials</ion-title>
  </ion-toolbar>
  <ion-searchbar (ionInput)="searchMaterials($event)"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="ion-margin" *ngFor="let material of allMaterials" (click)="setOpen(material)">
      <div>
        <ion-label>{{material.name}}</ion-label>
        <p class="text-small">{{material.chemicalComposition}}</p>
      </div>
    </ion-item>
  </ion-list>
  <ion-modal [isOpen]="modalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding ion-justify-content-center">
        <div class="horizontal-center ion-margin"><ion-label>{{name}}</ion-label></div>
        <div class="horizontal-center ion-margin"><ion-label>Chemical Composition: {{chemicalComposition}}</ion-label></div>
        <div class="horizontal-center ion-margin">
          <ion-label>Health and Safety: {{healthAndSafety}}</ion-label>
        </div>
        <div class="horizontal-center ion-margin">
          <ion-label>Uses in Glazes: {{usesInGlazes}}</ion-label>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
