.chart-container {
  //stick this to the top
  position: fixed;
  top: 1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  //height 70% of the screen width
  height: 110vw;
}

.fore {
  z-index: 150;
}

.rear {
  z-index: 50;
}

.ion-items-container {
  //put this directly underneath the .chart-container
  margin-top: 120vw;
  position: relative;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}
