<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="outline" size="small" routerLink="/profile-editor">Edit Profile</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Profile user image and info-->
  <ion-grid class="ion-justify-content-center">
    <ion-row class="ion-justify-content-center">
      <ion-avatar>
        <img [src]="userMeta?.photoUrl">
      </ion-avatar>
    </ion-row>
    <ion-row>
      <ion-label>Display Name: {{userMeta?.displayName}}</ion-label>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-justify-content-center">
    <ion-row>
      <ion-label>Display Name: {{userMeta?.displayName}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Email: {{userMeta?.email}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>You have {{userMeta?.recipes?.length || '0'}} recipes</ion-label>
    </ion-row>
  </ion-grid>
</ion-content>

