<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="outline" size="small" *ngIf="recipeComplete()" (click)="saveRecipeToFirestore()">Save</ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recipe</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>Recipe Builder</ion-card-title>
        <ion-card-subtitle>Create Your Vision</ion-card-subtitle>
        <div slot="end">
          <ion-button slot="end" (click)="aiGenerateRecipe()">Generate</ion-button>
        </div>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="">
          <ion-col size="9">
            <ion-input
              fill="outline"
              label="Recipe Name"
              labelPlacement="stacked"
              [value]="recipeService.recipeBuildInProgess.name"
              (ionBlur)="trimName()"
              (input)="setName($event)"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-input
              label="Cone"
              labelPlacement="stacked"
              fill="outline"
              [value]="recipeService.recipeBuildInProgess.cone"
              [clearOnEdit]="true"
              type="number"
              #coneInput
              (input)="setCone($event)"
            ></ion-input>
            <!-- <ion-select interface="action-sheet" label="Cone" labelPlacement="stacked" fill="outline" [value]="cone" (ionChange)="setCone($event)">
              <ion-select-option *ngFor="let coneSelection of cones" [value]="coneSelection">{{coneSelection}}</ion-select-option>
            </ion-select> -->
          </ion-col>
          <ion-col size="6">
            <ion-select
              [(ngModel)]="recipeService.recipeBuildInProgess.firingType"
              label="Firing Type"
              labelPlacement="stacked"
              fill="outline"
            >
              <ion-select-option *ngFor="let type of firingTypes" [value]="type"
                >{{type}}</ion-select-option
              >
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-textarea
              fill="outline"
              label="Description"
              labelPlacement="stacked"
              [value]="recipeService.recipeBuildInProgess.description"
              [autoGrow]="true"
              (input)="setDescription($event)"
              (ionBlur)="trimDescription()"
            ></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>Ingredients</ion-card-title>
        <ion-button slot="end" (click)="addIngredient()">Add</ion-button>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item-sliding *ngFor="let ingredient of recipeService.recipeBuildInProgess.revisions[0].ingredients; let i = index" #itemSliding class="slide-in-animation">
          <ion-item>
            <ion-grid class="ingredient-row">
              <ion-row class="ion-align-items-center">
                <ion-col size="9">
                  <ionic-selectable
                    item-content
                    [(ngModel)]="recipeService.recipeBuildInProgess.revisions[0].ingredients[i].name"
                    fill="outline"
                    class="item-content"
                    [(items)]="allMaterials"
                    [canSearch]="true"
                    (onSearch)="searchIngredients($event)"
                    (onChange)="setIngredientValue($event, i)">
                    <ng-template ionicSelectableItemTemplate let-ingredient="item">
                      <div class="vertical-stack">
                        <label>{{ingredient.name}}</label>
                        <label class="text-small">{{ingredient.chemicalComposition}}</label>
                      </div>
                    </ng-template>
                  </ionic-selectable>
                </ion-col>
                <ion-col size="3" class="ion-text-center">
                  <ion-input
                    fill="outline"
                    type="number"
                    label="%"
                    labelPlacement="floating"
                    [(ngModel)]="ingredient.percentage"
                    [clearOnEdit]="true"
                    (input)="setPercentage($event, i)"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeIngredient(i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Notes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea
        fill="outline"
        [maxlength]="300"
        [value]="recipeService.recipeBuildInProgess.revisions[0].notes"
        [autoGrow]="true"
        (input)="setNotes($event)"
      ></ion-textarea>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-label slot="start" class="ion-margin"
      >Total: {{totalPercentage}}%</ion-label
    >
    <ion-label
      slot="end"
      [ngClass]="remainingPercentageOver ? 'red' : 'black'"
      class="ion-margin"
      >Remaining: {{remainingPercentage}}%</ion-label
    >
  </ion-toolbar>
</ion-footer>
