<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="!firingScheduleService.userFiringSchedules || firingScheduleService.userFiringSchedules.length <= 0">
    <ion-label class="ion-margin">No firing schedules yet. Click the button down there to get started with one</ion-label>
  </ion-item>
  <ion-list *ngIf="firingScheduleService.userFiringSchedules && firingScheduleService.userFiringSchedules.length > 0">
    <ion-item class="ion-margin" *ngFor="let firingSchedule of firingScheduleService.userFiringSchedules; let i = index">
      <ion-label>{{firingSchedule.name}}</ion-label>
      <ion-chip color="tertiary">
        <ion-icon name="triangle-outline"></ion-icon>
        <ion-label>{{firingSchedule.maxCone}}</ion-label>
      </ion-chip>
      <ion-icon name="trash" slot="end" (click)="deleteFiringSchedule(firingSchedule.id)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab class="ion-margin" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/firing-schedule-builder">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
