<ion-content class="ion-align-items-center ion-justify-content-center ion-padding login-layout">
  <ion-text class="centered text-xl mt-30 roboto">Vitrify</ion-text>
  <div class="image-container bordered">
    <img [src]="chosenGlaze?.imageUrl" alt="Login Glaze" class="logo image">
    <label class="ion-text-start" >{{chosenGlaze?.title}}, {{chosenGlaze?.creator}} {{chosenGlaze?.year}}</label>
  </div>
  <ion-item class="ion-margin" type="input">
    <ion-input label="Email" labelPlacement="stacked" class="medium-font ion-margin-start ion-margin-end centered-text" [value]="email" type="email" required="true" (input)="setEmail($event)"></ion-input>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-input label="Password" labelPlacement="stacked" hideIcon class="medium-font ion-margin-start ion-margin-end centered-text" type="password" [required]="true" [value]="password" (input)="setPassword($event)">
    </ion-input>
  </ion-item>

  <ion-grid class="ion-margin-bottom">
    <ion-row class="centered ion-margin">
      <ion-button id="loginbutton" expand="block" size="medium" (click)="login(true)">Log In</ion-button>
    </ion-row>
    <ion-row class="centered ion-margin">
      <ion-button expand="block" size="medium" color="secondary"  (click)="login(false)">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Log in with Google
      </ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button class="" fill="clear" routerLink="/register">Register</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button class="" fill="clear" (click)="resetPassword()">Forgot Password?</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
