.slide-in-animation {
  animation-name: slideIn;
  animation-duration: 0.3s;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.w-50 {
  width: 50%;
}

.horizontal-center {
  margin: 0 auto;
}
