<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        fill="outline"
        size="small"
        *ngIf="recipeComplete()"
        (click)="saveRecipeToFirestore()"
        >Save</ion-button
      >
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--title stuff-->
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>Recipe Editor</ion-card-title>
        <ion-card-subtitle>Tweak, fine tune, and perfect</ion-card-subtitle>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-input
              [disabled]="recipeService.isRevision || recipeService.recipeEditInProgess.revisions[revision].status === 'Tested'"
              fill="outline"
              label="Recipe Name"
              labelPlacement="stacked"
              [(ngModel)]="recipeService.recipeEditInProgess.name"
              (ionBlur)="trimName()"
            ></ion-input>
          </ion-col>
          <ion-col size="4" *ngIf="recipeService.isEditing">
            <ion-label
              *ngIf="recipeService.recipeEditInProgess.revisions.length === 1 || recipeService.isRevision"
              >Revision: {{recipeService.editingRevision + 1}}</ion-label
            >
            <ion-item
              lines="none"
              *ngIf="recipeService.recipeEditInProgess.revisions.length > 1 && !recipeService.isRevision"
            >
              <ion-select
                justify="end"
                [value]="revision  +  1"
                (ionChange)="setRevision($event)"
                interface="popover"
              >
                <ion-select-option
                  *ngFor="let revision of recipeService.recipeEditInProgess.revisions; let i = index"
                  [value]="i + 1"
                  >{{i + 1}}</ion-select-option
                >
              </ion-select>
              <ion-label class="w-auto ml-5">
                of
                {{recipeService.recipeEditInProgess.revisions.length}}</ion-label
              >
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <ion-item lines="none" [disabled]="recipeService.isRevision">
              <ion-select
                label="Status"
                labelPlacement="stacked"
                [value]="recipeService.recipeEditInProgess.revisions[revision].status"
                (ionChange)="setStatus($event)"
                interface="popover"
              >
                <ion-select-option
                  *ngFor="let status of statuses; let i = index"
                  [value]="status"
                  >{{status}}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-toggle
              class="ion-margin"
              [(ngModel)]="isConeRange"
              labelPlacement="stacked"
              (ionChange)="toggleConeRange()"
            >
              <ion-label style="height: 25px">Cone Range</ion-label>
            </ion-toggle>
          </ion-col>
          <ion-col size="3">
            <ion-select
              class="ion-margin"
              interface="action-sheet"
              [label]="lowerConeLabel"
              labelPlacement="stacked"
              fill="outline"
              [value]="lowerCone"
              (ionChange)="setLowerCone($event)"
            >
              <ion-select-option
                *ngFor="let coneSelection of conesLowerRange"
                [value]="coneSelection"
                >{{coneSelection}}</ion-select-option
              >
            </ion-select>
          </ion-col>
          <ion-col *ngIf="isConeRange" size="3">
            <ion-select
              class="ion-margin"
              interface="action-sheet"
              [label]="upperConeLabel"
              labelPlacement="stacked"
              fill="outline"
              [value]="upperCone"
              (ionChange)="setUpperCone($event)"
            >
              <ion-select-option
                *ngFor="let coneSelection of conesUpperRange"
                [value]="coneSelection"
                >{{coneSelection}}</ion-select-option
              >
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-select
              [disabled]="recipeService.isRevision || recipeService.recipeEditInProgess.revisions[revision].status === 'Tested'"
              [(ngModel)]="recipeService.recipeEditInProgess.firingType"
              label="Firing Type"
              labelPlacement="stacked"
              fill="outline"
            >
              <ion-select-option *ngFor="let type of firingTypes" [value]="type"
                >{{type}}</ion-select-option
              >
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-toggle
              class="align-center"
              [(ngModel)]="recipeService.recipeBuildInProgess.public"
              labelPlacement="stacked"
              (ionChange)="setPublicProperty($event)"
            >
              <ion-label style="height: 25px">Public</ion-label>
            </ion-toggle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-textarea
              [disabled]="recipeService.isRevision || recipeService.recipeEditInProgess.revisions[revision].status === 'Tested'"
              fill="outline"
              label="Description"
              labelPlacement="stacked"
              [(ngModel)]="recipeService.recipeEditInProgess.description"
              [autoGrow]="true"
              (ionBlur)="trimDescription()"
            ></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!--image stuff-->
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>Images</ion-card-title>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content class="ion-justify-content-center">
      <ion-avatar
        class="ion-margin w-50 horizontal-center"
        *ngIf="recipeService.recipeEditInProgess.revisions[revision].imageUrls.length === 0"
      >
        <ion-img
          src="../../../../assets/images/placeholder-image.png"
        ></ion-img>
      </ion-avatar>
      <swiper-container
        #swiper
        [pagination]="true"
        *ngIf="recipeService.recipeEditInProgess.revisions[revision].imageUrls.length > 0"
      >
        <swiper-slide
          *ngFor="let image of recipeService.recipeEditInProgess.revisions[revision].imageUrls; let i = index"
        >
          <ion-img
            class="ion-margin w-50 horizontal-center"
            *ngIf="recipeService.recipeEditInProgess.revisions[revision].imageUrls[i] !== ''"
            [src]="recipeService.recipeEditInProgess.revisions[revision].imageUrls[i]"
          ></ion-img>
        </swiper-slide>
      </swiper-container>
      <div class="justify-content-center mt-10">
        <ion-item lines="none">
          <ion-button size="small" *ngIf="!imagesAtMax" (click)="addImage()"
            >Add</ion-button
          >
          <ion-item lines="none" *ngIf="!isMobile">
            <input
              type="file"
              accept="image/*"
              (change)="uploadRevisionImage($event)"
              hidden
              #fileInput
            />
            <ion-button size="small" *ngIf="recipeService.recipeEditInProgess.revisions[revision].imageUrls.length > 0" (click)="fileInput.click()">Update</ion-button>
          </ion-item>
          <ion-button size="small" *ngIf="isMobile && recipeService.recipeEditInProgess.revisions[revision].imageUrls.length > 0" (click)="updateImage(undefined)"
            >Update Image</ion-button
          >
          <ion-button *ngIf="recipeService.recipeEditInProgess.revisions[revision].imageUrls.length > 0" (click)="deleteImage()">Delete</ion-button>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <!--ingredients stuff-->
  <ion-card
    [disabled]="recipeService.recipeEditInProgess.revisions[revision].status === 'Tested'"
  >
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>Ingredients</ion-card-title>
        <ion-button slot="end" (click)="addIngredient()">Add</ion-button>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item-sliding
          *ngFor="let material of recipeService.recipeEditInProgess.revisions[revision].materials; let i = index"
          #itemSliding
          class="slide-in-animation"
        >
          <ion-item>
            <ion-grid class="ingredient-row">
              <ion-row class="ion-align-items-center">
                <ion-col size="9">
                  <app-materials-select
                    [material]="recipeService.recipeEditInProgess.revisions[revision].materials[i]"
                    [materialName]="recipeService.recipeEditInProgess.revisions[revision].materials[i].Name"
                    [ingredientName]="material.Name"
                    (ingredientChangedEmitter)="setIngredientValue($event, i)"
                  ></app-materials-select>
                </ion-col>
                <ion-col size="3" class="ion-text-center">
                  <ion-input
                    fill="outline"
                    type="number"
                    label="%"
                    labelPlacement="floating"
                    min="1"
                    [value]="material.Percentage"
                    (input)="setPercentage($event, i)"
                  ></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeIngredient(i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--notes stuff-->
  <ion-card
    [disabled]="recipeService.recipeEditInProgess.revisions[revision].status === 'Tested'"
  >
    <ion-card-header>
      <ion-card-title>Notes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea
        fill="outline"
        [maxlength]="300"
        [(ngModel)]="recipeService.recipeEditInProgess.revisions[revision].notes"
        [autoGrow]="true"
      ></ion-textarea>
    </ion-card-content>
  </ion-card>

  <!--Revision Deletion Stuff-->
  <ion-item
    class="ion-justify-content-center"
    *ngIf="!recipeService.isRevision && recipeService.recipeEditInProgess.revisions.length > 1"
    lines="none"
  >
    <ion-button class="ion-justify-content-center" (click)="deleteRevision()"
      >Delete this revision</ion-button
    >
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-label slot="start" class="ion-margin"
      >Total: {{totalPercentage}}%</ion-label
    >
    <ion-label
      slot="end"
      [ngClass]="remainingPercentageOver ? 'red' : 'black'"
      class="ion-margin"
    >
      {{remainingOrAdditional}}: {{remainingPercentage}}%</ion-label
    >
  </ion-toolbar>
</ion-footer>
