<app-side-menu-header [title]="title"></app-side-menu-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="ion-margin" slot="start" size="medium">{{title}}</ion-label>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-list *ngIf="loaded">
        <ion-item *ngIf="recipeService.userRecipes.length === 0">
          <ion-label>No recipes found</ion-label>
          <ion-button routerLink="/recipe-builder">Create one</ion-button>
        </ion-item>
        <ion-item class="ion-margin" *ngFor="let recipe of recipeService.userRecipes" [routerLink]="['./', recipe.id]" >
          <div *ngIf="recipeService.userRecipes.length > 0">
            <ion-label>{{recipe.name}}</ion-label>
            <div>
              <ion-chip [color]="getChipColor(getLowestStatusName(recipe))">{{getLowestStatusName(recipe)}}</ion-chip>
              <ion-chip color="tertiary">
                <ion-icon name="triangle-outline"></ion-icon>
                <ion-label>{{recipe.cone}}</ion-label>
              </ion-chip>
              <ion-chip color="dark">{{recipe.firingType}}</ion-chip>
              <ion-chip color="danger">{{recipe.public ? "public" : "private"}}</ion-chip>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="!loaded">
        <ion-list-header>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80px"
          ></ion-skeleton-text>
        </ion-list-header>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 60%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 30%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab class="ion-margin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/recipe-builder"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
